#navbar
{
    height: 75px;
    width:100%;
    
}
#brand
{
   font-size: 30px;
  color: rgb(98, 194, 194);
   font-family: sans-serif;
   font-weight: bold;
}

.btn1
{
   width: 130px;
   height: 40px;
   border-radius: 10px;
   background-color: rgb(98, 194, 194);
}
.btn2
{
  margin-left: 40px;
  width: 130px;
   height: 40px;
   border-radius: 10px;
   background-color: rgb(98, 194, 194);
}

.btn3
{
  margin-left: 40px;
  width: 130px;
   height: 40px;
   border-radius: 10px;
   background-color: rgb(98, 194, 194);
}
 .content
 {
     background-image: url(E:\CDAC feb_20\MainProject\Lunch\src\assets\images\dabba.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     height: 750px;
     padding-top: 80px;
 }

 .row
 {
     width: 500px;
     height: 300px;
     border:2px solid black;
     margin-left: 550px;
 
     background-color: rgba(240,255,240,0.7);
 }

  .reseat
  {
      padding-left: 120px;
      padding-top: 50px;
  }

  .email1
  {
      margin-top: 30px;
  }
  input
  {
      width: 250px;
      height: 35px;
      border-radius: 10px;
  }

  .btn10
  {
      margin-top: 30px;
      margin-left: 35px;
      height: 35px;
      border-radius: 20px;
      background-color: rgb(98, 194, 194);;
  }