<div class="parent">

    <nav class="navbar navbar-expand-lg bg-dark"id="navbar">
  
  
      <div class = "col-6 bg-dark" id="brand">
    
           <p>DaBBaWaaLa.Com</p>
    
      </div>
    
      <div class = "col-6 bg-dark" id="buttoninfo">
      
        <button class="btn1">About Us</button>    
    
        <button class="btn2"(click)="gotopage('login')">Login</button>
  
        <button class="btn3"(click)="gotopage('signup')">Sign Up</button>
    
    </div>
    
    </nav>

    <div class="content">

      <div class="row">

        <div [formGroup] = "fbFormGroup" >

           

        <div class="reseat">

         <input type="text" placeholder="New Password" formControlName="password">

         <input type="email" class="email1" placeholder="Email" formControlName="email">

         <button class="btn10"(click)="reseatprocess()">Reseat Password</button>

        </div>

        </div> 

        <div class="alert" style="color: red; font-size: 20px;" role="alert" *ngIf="invaliddata">

            All Fields are mandatory
 
         </div>


      </div>

    </div>