<div class="parent">
<nav class="navbar navbar-expand-lg bg-dark"id="navbar">


  <div class = "col-6 bg-dark" id="brand">

       <p>DaBBaWaaLa.Com</p>

  </div>

  <div class = "col-6 bg-dark" id="buttoninfo">
  
    <button class="btn1"  >AboutUs</button>    

    <button class="btn2"(click)="gotopage('login')">Login</button>

</div>

</nav>

<div class="container-fluid">

    <div class="row" id="row1">

      <div class ="col-5 " id="colleft">


      <div class = "joinus">
        <p><b>Few Steps Away From Your 1st Order</b></p>
      </div>

      <div class = "joinicon">
        
        <i class="fa fa-hand-o-right fa-3x " style="color: rgb(98, 194, 194);" aria-hidden="true"></i>

      </div>

      <div class = "known">
       
        <p style="color: rgb(98, 194, 194);">To known More About Us Click Below</p>

      </div>

    
            
      </div>

      <div class = "col-7 " id="colright">

        <div class = "img"></div>

       <div class = "titleup">

         <p><b>Sign Up here</b></p>

       </div>
                  <form>
         <div [formGroup] = "fbFormGroup" novalidate>

          <div class="alert alert-info" role="alert" *ngIf="invaliddata">

           Fill the mandatory Fields
 
         </div>

          <div class ="col-12 mt-3  d-flex " id="Username">

          <input type="text" id="userName" placeholder="Full Name" minlength="3"
          
          class="form-control" formControlName="username"  required>

          <div class="validations" 
          *ngIf="fbFormGroup.controls['username'].hasError('required') && (fbFormGroup.controls['username'].touched)">
          name is required*
      </div>
        
      <div class="validations"
      *ngIf="fbFormGroup.controls['username'].hasError('minlength') && (fbFormGroup.controls['username'].touched)">
       Name must have min 4 character
  </div>
  
          </div>

          <div class ="col-12 mt-3  d-flex " id="Email">

            <input type="email" id="mail" placeholder="Email" 
            
            class="form-control" formControlName="email" autofocus required> 

            <div class="validations"

            *ngIf="fbFormGroup.controls['email'].hasError('required') && fbFormGroup.controls['email'].touched">
            Email Id is required*
        </div>

            </div>

            <div class ="col-12 mt-3  d-flex " id="Mobile">

              <input type="text" id="mobile" placeholder="MobileNumber" maxlength="10"
              
              class="form-control" formControlName="mobile" autofocus required >

          <div class="validations" 
           *ngIf="fbFormGroup.controls['mobile'].hasError('required') && (fbFormGroup.controls['mobile'].touched)">
          Mobile Number is required*
      </div>
      <div class="validations"
                 *ngIf="fbFormGroup.controls['mobile'].hasError('pattern')">
                  Invalid Contact Number.
                  </div>

              </div>

                <div class ="col-12 mt-3  d-flex ">

                  <input type="password" id="passwordid" placeholder="Password" 
                  
                  class="form-control" formControlName="password" autocomplete="on" maxlength="8">
              
                  <div class="validations"

                  *ngIf="fbFormGroup.get('password').hasError('required') && fbFormGroup.get('password').touched">

                  Password is required*</div>
  

                </div>

                  <div class ="col-12 mt-3 d-flex " id="Address">

                    <input type="text" id="address" placeholder="Address" 
    
                    class="form-control" formControlName="address" autofocus required> 
      
                    </div>

                  <div class ="col-12 mt-3  d-flex " id="Agree">

                    <input type="checkbox" class="form-check-input" id="Check1" >

                    <label class="form-check-label" for="Check1"><b>I Agree terms and condition</b></label>
        
                  </div>


                  <div class = "SignUp">

                    <button id="signup"(click)="signup()">Signup</button>
        
                  </div>

                </div>
              </form>
      </div>
    </div>
    
</div>
